header {
    height: 7vh;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.company {
    color: white;
    font-size: 50px;
}

.home {
    color: white;
    font-size: 20px;
}
.about {
    color: white;
    font-size: 20px;
}
.contact {
    color: white;
    font-size: 20px;
}

.black-box {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
}
.TMYK {
    font-size: 80px;
    color: yellow;
    font-family: sans-serif;
    font-weight: bolder;
}
.white-box {
    width: 100%;
    height: 65vh;

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  
}
.first-row {
    width: 100%;
    height: 21vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.first-box {
    width: 150px;
    height: 150px;
    background-color: teal;
    border-radius: 10px;
    margin: 20px;
    margin-right: 50px;
}
.second-box {
    width: 150px;
    height: 150px;
    background-color: teal;
    border-radius: 10px;
    margin: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
.third-box {
    width: 150px;
    height: 150px;
    background-color: teal;
    border-radius: 10px;
    margin: 20px;
    margin-left: 50px;
}
.second-row{
    width: 100%;
    height: 24vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px
}
.fourth-box {
    width: 350px;
    height: 150px;
    background-color: orange;
    margin: 20px;
    margin-right: 150px;
}
.fifth-box {
    width: 350px;
    height: 150px;
    background-color: orange;
    margin: 20px;
    margin-left: 150px;
}
.third-row {
    width: 100%;
    height: 21vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.para-box {
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    margin: 20px;
    text-align: center;
}
.pic {
    background-image: url(https://cnet3.cbsistatic.com/img/O5hCcYzf9xUSOjsGJelgYStfLek=/2019/01/07/3ff9aede-cd08-4e9c-a3c7-a5b22f8b0093/samsung-notebook-9-pen.jpg);
    width: 250px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px

}
.footer {
    background-color: #3e4444 ;
    width: 100%;
    height: 6vh;
}
